<!DOCTYPE html>
<html>
<head>
  <title>Mulheres em TI</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= link_to root_path, id: 'logo' do %>
          <strong>Mulheres</strong><small>em</small>TI
        <% end %>
      </div>
      <nav class="col-md-8 text-right">
        <ul>
          <li> <%= link_to 'Sobre', about_path %> </li>
          <li> <%= link_to 'Novidades', coming_soon_path %> </li>
          <li> <%= link_to 'Projetos TI por mulheres', coming_soon_path %> </li>
          <li> <%= link_to 'Experimente programar', coming_soon_path %> </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section role="main content" id="main-content">
  <%= yield %>
</section>

<footer>
  Mulheres em TI é uma iniciativa da <a href="http://thoughtworks.com/" target="thoughtworks">ThoughtWorks</a>
</footer>

<div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45298921-1', 'mulheresemti.herokuapp.com');
    ga('send', 'pageview');
  </script>
</div>

</body>
</html>
