<!DOCTYPE html>
<html>
<head>
  <title>Mulheres em TI</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= link_to root_path, id: 'logo' do %>
          <strong>Mulheres</strong><small>em</small>TI
        <% end %>
      </div>
      <nav class="col-md-8 text-right">
        <ul>
          <li> <%= link_to 'Sobre', about_path %> </li>
          <li> <%= link_to 'Novidades', 'novidades' %> </li>
          <li> <%= link_to 'Projetos TI por mulheres', 'projetos' %> </li>
          <li> <%= link_to 'Experimente programar', 'experimente-programar' %> </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section role="main content">
  <%= yield %>
</section>

<footer>
  Mulheres em TI é uma iniciativa da <a href="http://thoughtworks.com/" target="thoughtworks">ThoughtWorks</a>
</footer>

</body>
</html>
